html, body {
    /* Box */
    width: 100%;
    height: 100%;

    /* Internals */
    padding: 0;
    margin: 0;

    /* Others */
    overflow: hidden;
}

#canvas {
    /* Box */
    width: 100%;
    height: 100%;
}